.consultation {
    min-height: 680px;
    background: url(../../img/consult_bg.png) center (center/cover) no-repeat;
    padding: 100px 0;
    &__tittle {
        font-weight: 700;
        font-size: 30px;
        color:#fff;
        text-transform: uppercase;
        line-height: 133%;
        text-align: left;
    }
    &__descr {
        margin-top: 85px;
        font-size: 20;
        font-weight: 400;
        color: #fff;
        text-align: left;
    }
    .error {
        border: 0.8px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #fff;
    }
}